// light
$bg-light: rgb(192, 238, 174);
$l1-light: rgb(179, 247, 152) 0%;
$l2-light: rgb(150, 197, 247) 100%;
$text-light: #000;

// dark
$bg-dark: rgb(32, 19, 56);
$l1-dark: rgb(25, 11, 77) 0%;
$l2-dark: rgb(92, 12, 102) 100%;
$text-dark: rgba(190, 194, 197, 0.945);
